<section class="blogs__heading-wrapper">
  <div class="container">
    {% include "@views/sections/blogs/heading/index.html.twig" %}
  </div>
</section>
<section class="blogs__body-wrapper">
  <div class="container">
    {% include "@views/sections/blogs/body/index.html.twig" %}
  </div>
</section>
<section class="blogs__recirculation-wrapper">
  <div class="container">
    {% include "@views/sections/blogs/recirculations/4-cards.html.twig" %}
    {% include "@views/sections/blogs/recirculations/4-cards.html.twig" %}
  </div>
</section>
