// Card
// ––––––––––––––––––––––

.card-comment {
  padding: $spacing-500;
  background-color: $neutral-100;
  border-radius: $border-radius-large;

  &-header {
    line-height: $line-height-160;
  }

  &-body {
    //
  }

  &-footer {
    display: flex;
    align-content: center;
    justify-content: space-between;

    .action-link {
      color: $text-light;
    }
  }
}

.card-user {
  padding: $spacing-500;
  background-color: $white;
  border: 1px solid $ui-stroke-light;
  border-radius: $border-radius-large;

  &-header {
    line-height: $line-height-160;
  }

  &-body {
    //
  }

  &-footer {
    display: flex;
    align-content: center;

    .action-link {
      color: $text-light;
    }
  }

  &-label {
    display: flex;
    flex-direction: column;
    padding-right: $spacing-400;
    border-right: 1px solid $ui-stroke-light;

    &:not(:first-child) {
      padding-left: $spacing-400;
    }
  }
}

.card-folder {
  padding: $spacing-500;
  background-color: $white;
  border: 1px solid $ui-stroke-light;
  border-radius: $border-radius-large;

  &-header {
    //
  }

  &-body {
    //
  }

  &-footer {
    //
  }

  &-label {
    display: inline-flex;
    background-color: $neutral-100;
  }
}
