// Switch
// ––––––––––––––––––––––

.switch {
  display: inline-flex;

  input {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }

  &-trail {
    @include focus($border-radius-rounded);

    display: flex;
    align-items: center;
    width: 3.5rem;
    height: 2rem;
    vertical-align: top;
    cursor: pointer;
    user-select: none;
    background: $white;
    border: 1px solid $ui-stroke-dark;
    border-radius: $border-radius-rounded;

    input:checked + & {
      background: $ui-success;
      border-color: $ui-success;

      .switch-handler {
        background: $white;
        transform: translateX(100%);

        .icon {
          visibility: visible;
        }
      }
    }

    input:disabled + & {
      cursor: not-allowed;
      opacity: 0.4;
    }
  }

  &-handler {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.5rem;
    height: 1.5rem;
    margin-left: 0.2rem;
    font-size: $font-size-220;
    color: $ui-success;
    background: $neutral-900;
    border-radius: 50%;
    transition: transform $animation-speed-fast $animation-curve-decelerate;

    .icon {
      visibility: hidden;
    }
  }
}
