// Shades
// ––––––––––––––––––––––

// Neutral

$white: #ffffff;
$neutral-100: #f2f2f2;
$neutral-200: #e6e6e6;
$neutral-300: #cccccc;
$neutral-400: #b2b2b2;
$neutral-500: #757575;
$neutral-600: #606060;
$neutral-700: #444444;
$neutral-800: #333333;
$neutral-900: #1a1a1a;
$black: #000000;

// Semantic

$green-100: #f2fef3;
$green-150: #c2f5c3;
$green-200: #91e796;
$green-300: #61d46a;
$green-400: #31bc41;
$green-500: #009e1a;
$green-600: #008512;
$green-700: #006b0c;
$green-800: #005007;
$green-850: #003503;
$green-900: #001901;

$red-100: #fff2f2;
$red-150: #ffc2c2;
$red-200: #ff9191;
$red-300: #fd6161;
$red-400: #ee3131;
$red-500: #d70305;
$red-600: #b50005;
$red-700: #910005;
$red-800: #6d0004;
$red-850: #480003;
$red-900: #220002;

$blue-100: #f2f5ff;
$blue-150: #c2d3ff;
$blue-200: #91b6ff;
$blue-300: #6b9dff;
$blue-400: #4c88ff;
$blue-500: #3376fa;
$blue-600: #2864d2;
$blue-700: #1f51a8;
$blue-800: #163e7d;
$blue-850: #0d2952;
$blue-900: #061426;

// Brand

$brand: #fc392b;

// Product

$product-100: #f2f9ff;
$product-150: #c2e1f5;
$product-200: #91cae7;
$product-300: #65b2d5;
$product-400: #3f99bf;
$product-500: #1e7ea4;
$product-600: #1a6e90;
$product-700: #134f67;
$product-800: #0f3f52;
$product-850: #0b2f3e;
$product-900: #072029;

// Social networks color

$social-network-facebook: #1877f2;
$social-network-twitter: #1da1f2;
