// Spacing
// ––––––––––––––––––––––

$spacing-100: 4px;
$spacing-200: 8px;
$spacing-300: 12px;
$spacing-400: 16px;
$spacing-500: 24px;
$spacing-600: 32px;
$spacing-650: 40px;
$spacing-700: 48px;
$spacing-800: 64px;
$spacing-900: 96px;
$spacing-1100: 128px;
