{# BOTTOM BANNER #}

<a class="mkt-banner mkt-banner--red mkt-banner--bottom" href="#">
  <div class="container">
    <div class="mkt-banner__inner">
      <img class="mkt-banner__image" src="{{ banner.red.image }}" alt="image alt name" width="500px" height="500px">
      <div class="mkt-banner__body">
        <div class="mkt-banner__text">
          <p class="mkt-banner__title">{{ banner.red.title }}</p>
          <p class="mkt-banner__description">{{ banner.red.description }}</p>
        </div>
        <div class="mkt-banner__button">{{ banner.red.cta }}</div>
      </div>
    </div>
  </div>
</a>
