<div class="blogs__body__bottom pt-500">
  <a href="#" class="button is-club-primary">
    <span>Afficher les commentaires ({{ article.commentsNumber }})</span>
    {{ macros.icon("arrow-right") }}
  </a>
</div>
