<div class="blogs__body grid">
    {% include "@views/sections/blogs/body/left.html.twig" %}
    {% include "@views/sections/blogs/body/center.html.twig" %}
    {% include "@views/sections/blogs/body/bottom.html.twig" %}
    {% include "@views/sections/blogs/body/right.html.twig" %}
</div>
