<div class="blogs__heading__center">
    <p class="ui-label-product-03 font-uppercase text-product"><span class="text-product-accent mr-400">{{ article.type }}</span> {{ article.date }}</p>
    <h2 class="heading-product-10 pt-400 pb-600 text-product">{{ article.title }}</h2>
    <p class="subheading-product-02 text-product">{{ article.summary }}</p>
</div>
