<div class="blogs__heading grid py-600" data-content-heading>
    {% include "@views/sections/blogs/heading/top.html.twig" %}
    {% include "@views/sections/blogs/heading/left.html.twig" %}
    {% include "@views/sections/blogs/heading/center.html.twig" %}
    {% include "@views/sections/blogs/heading/right.html.twig" %}
</div>
