<div class="blogs__heading__right">
  {% if is_contribution %}
  <a href="#" class="button is-club-primary">
      <span>Contribuer</span>
      {{ macros.icon("arrow-right") }}
  </a>
  {% endif %}
</div>
