<div class="blogs__heading__top">
  <div class="alert mb-500">
    <div class="alert-body">Bienvenue sur les blogs des abonné&middot;e&middot;s, ce blog est personnel, ses contenus n'engagent pas la rédaction.</div>
  </div>
</div>
