// Pensum display font is used for marketing heading

@font-face {
  font-display: swap;
  font-family: 'Pensum Display';
  font-style: normal;
  font-weight: 900;
  src: url('PensumDisplay-Black.woff2') format('woff2'), url('PensumDisplay-Black.woff') format('woff');
}
