// Mixins
// ––––––––––––––––––––––

@mixin onPageLoad {
  html.is-loaded & {
    @content;
  }
}

@mixin onPageScrollDisabled {
  #{if(&, 'html.no-scroll &', 'html.no-scroll')} {
    @content;
  }
}

@mixin cover {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

@mixin clearfix {
  &::after {
    display: table;
    clear: both;
    content: ' ';
  }
}

@mixin overlay($offset: 0) {
  position: absolute;
  top: $offset;
  right: $offset;
  bottom: $offset;
  left: $offset;
}

@mixin focus($radius: 2px) {
  position: relative;
  outline: none;

  &:focus,
  &:focus-within {
    &::after {
      position: absolute;
      top: -$spacing-100;
      right: -$spacing-100;
      bottom: -$spacing-100;
      left: -$spacing-100;
      content: '';
      border-color: $ui-focus;
      border-style: solid;
      border-width: 1px;
      border-radius: $radius;
    }
  }
}

%focus {
  @include focus;
}

@mixin box-shadow($color: $neutral-100) {
  box-shadow: 4px 4px 0 $color, 3px 3px 0 $color, 2px 2px 0 $color, 1px 1px 0 $color;
}

@mixin box-shadow-large($color: $black) {
  box-shadow: 0 4px 10px rgba($color, 0.15);
}

@mixin center($width, $height: 0) {
  position: absolute;

  @if $height != 0 {
    top: calc(50% - (#{$height} / 2));
    left: calc(50% - (#{$width} / 2));
  } @else {
    top: calc(50% - (#{$width} / 2));
    left: calc(50% - (#{$width} / 2));
  }
}

// Responsiveness

// XS

@mixin breakpoint-xs {
  @media screen and (max-width: $breakpoint-sm - 1px) {
    @content;
  }
}

// SM

@mixin breakpoint-until-sm {
  @media screen and (max-width: $breakpoint-sm) {
    @content;
  }
}

@mixin breakpoint-sm {
  @media screen and (min-width: $breakpoint-sm) {
    @content;
  }
}

@mixin breakpoint-sm-only {
  @media screen and (min-width: $breakpoint-sm) and (max-width: $breakpoint-md - 1px) {
    @content;
  }
}

// MD

@mixin breakpoint-until-md {
  @media screen and (max-width: $breakpoint-md) {
    @content;
  }
}

@mixin breakpoint-md {
  @media screen and (min-width: $breakpoint-md) {
    @content;
  }
}

@mixin breakpoint-md-only {
  @media screen and (min-width: $breakpoint-md) and (max-width: $breakpoint-lg - 1px) {
    @content;
  }
}

// LG

@mixin breakpoint-until-lg {
  @media screen and (max-width: $breakpoint-lg - 1px) {
    @content;
  }
}

@mixin breakpoint-lg {
  @media screen and (min-width: $breakpoint-lg) {
    @content;
  }
}

@mixin breakpoint-lg-only {
  @media screen and (min-width: $breakpoint-lg) and (max-width: $breakpoint-xl - 1px) {
    @content;
  }
}

// XLARGE

@mixin breakpoint-until-xl {
  @media screen and (max-width: $breakpoint-xl - 1px) {
    @content;
  }
}

@mixin breakpoint-xl {
  @media screen and (min-width: $breakpoint-xl) {
    @content;
  }
}

@mixin breakpoint-xl-only {
  @media screen and (min-width: $breakpoint-xl) and (max-width: $breakpoint-xxl - 1px) {
    @content;
  }
}

// XXLARGE

@mixin breakpoint-until-xxl {
  @media screen and (max-width: $breakpoint-xxl - 1px) {
    @content;
  }
}

@mixin breakpoint-xxl {
  @media screen and (min-width: $breakpoint-xxl) {
    @content;
  }
}
