{# ALERT COMPONENT #}

<div class="alert">
  <div class="alert-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse quis maximus velit. Mauris eget iaculis urna. Nullam dapibus sit amet ante vel ullamcorper. Quisque faucibus risus in nibh tristique consectetur.</div>
  <div class="alert-button">{{ macros.icon('close') }}</div>
</div>
