{# ARTICLE COMPONENT #}

<div class="article">
  <div class="ui-label-product-01 text mb-400">
    {{ macros.icon('portfolio', 'mr-200') }}
    <span>CATEGORY</span>
    <span class="ml-200">SUB CATEGORY</span>
  </div>
  <div class="heading-news-04 text mb-400">Vestibulum id ligula porta felis euismod semper maecenas sed diam eget.</div>
  <p class="subheading-news-01 text-secondary mb-400">Nullam id dolor id nibh ultricies vehicula ut id elit. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Donec ullamcorper nulla non metus auctor fringilla. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
  <div class="ui-body-product-01 text-light">Name &middot; 17.05.2020</div>
</div>
