{# BIO COMPONENT #}

<div class="bio">
  <div class="bio__body">
    <div class="avatar">
      <img src="#" alt="firstname name">
    </div>
    <div class="bio__name">
      <div class="heading-product-01 text-product">firstname name</div>
      <div class="ui-body-product-01 text-product-secondary">Abonné·e Mediapart</div>
    </div>
  </div>
  <div class="bio__footer ui-body-product-01 text-product">author job</div>
</div>
