{# DROPDOWN COMPONENT #}

<div class="dropdown">
  <div class="dropdown-trigger">
    <button class="tag" aria-haspopup="true" aria-controls="dropdown-menu">
      {{ macros.icon("options") }}
    </button>
  </div>
  <div class="dropdown-menu" id="dropdown-menu" role="menu">
    <a href="#" class="dropdown-item dropdown-item--product">Dropdown item product</a>
    <a href="#" class="dropdown-item">Dropdown item</a>
    <a href="#" class="dropdown-item is-active">Active dropdown item</a>
    <a href="#" class="dropdown-item">Dropdown item</a>
    <hr class="dropdown-divider">
    <a href="#" class="dropdown-item">Dropdown item</a>
    <a href="#" class="dropdown-item">Dropdown item</a>
  </div>
</div>
