{# FORM COMPONENT #}

<label class="label" for="textarea">Text Area Label</label>
<input class="input" type="text" placeholder="This is a placeholder">
<label class="label" for="textarea">Text Area Label</label>
<div class="help">Helper text</div>
<textarea class="textarea" name="textarea" placeholder="This is a placeholder"></textarea>
