{# MESSAGE COMPONENT #}

<div class="message-feedback">
  <div class="alert-button">{{ macros.icon('bookmark-filled') }}</div>
  <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse quis maximus velit.</span>
</div>

<div class="message-highlight">
  <span>orem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse quis maximus velit. (*)</span>
</div>
