{# MODAL COMPONENT #}

<aside class="modal modal--active">
    <div class="modal__content">
        <div class="modal__header">
            <p class="heading-product-09">Title</p>
            <button>{{ macros.icon("close") }}</button>
        </div>
        <div class="modal__body">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa omnis, dignissimos unde voluptatibus odit ab quo cumque repellendus velit obcaecati doloribus ea atque, voluptates in nihil corrupti eum repudiandae cupiditate?</p>
            <div class="buttons">
                <button class="button is-primary">J’accepte</button>
                <button class="button is-secondary" data-cc-popup="https://www.dev-mediapart.fr/app_dev.php/cookie_consent/popup">Je paramètre mes choix</button>
            </div>
        </div>
    </div>
</aside>
