{# PAGINATION COMPONENT #}

<nav class="pagination is-centered is-rounded" role="navigation" aria-label="pagination">
  <a href="#" class="pagination-previous">{{ macros.icon("chevron-left") }}</a>
  <ul class="pagination-list">
    <li><a href="#" class="pagination-link is-current" aria-label="Page 1" aria-current="page">1</a></li>
    <li><a href="#" class="pagination-link" aria-label="Goto page 2">2</a></li>
    <li><a href="#" class="pagination-link" aria-label="Goto page 3">3</a></li>
    <li><a href="#" class="pagination-link" aria-label="Goto page 4">4</a></li>
    <li><span class="pagination-ellipsis">&hellip;</span></li>
    <li><a href="#" class="pagination-link" aria-label="Goto page 17">17</a></li>
  </ul>
  <a href="#" class="pagination-next">{{ macros.icon("chevron-right") }}</a>
</nav>
