{# SIGNATURE COMPONENT #}

{# 1 person #}
<div class="signature">
  <div class="signature__body">
    <p class="ui-body-product-01">
      <a href="#" class="heading-product-01 text-brand">firstname name</a>
    </p>
    <p class="ui-body-product-01 mt-100">author job</p>
  </div>
  <div class="signature__icon">
    {{ macros.icon('chevron-right', 'icon--xl') }}
  </div>
</div>

{# 2 person #}
<div class="signature">
  <div class="signature__body">
    <p class="ui-body-product-01">
      <a href="#" class="heading-product-01 text-brand">firstname name</a> et <a href="#" class="heading-product-01 text-brand">firstname name</a>
    </p>
    <p class="ui-body-product-01 mt-100">author job</p>
  </div>
</div>

{# 3 person #}
<div class="signature">
  <div class="signature__body">
    <p class="ui-body-product-01">
      <a href="#" class="heading-product-01 text-brand">firstname name</a>, <a href="#" class="heading-product-01 text-brand">firstname name</a> et <a href="#" class="heading-product-01 text-brand">firstname name</a>
    </p>
    <p class="ui-body-product-01 mt-100">author job</p>
  </div>
</div>
