{# SWITCH COMPONENT #}

<div class="switch">
  <input id="switch-[ # ]" type="checkbox">
  <label for="switch-[ # ]" class="switch-trail">
    <span class="switch-handler">
      {{ macros.icon("check") }}
    </span>
  </label>
</div>
